* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    background-color: rgb(13, 120, 124);
}

#result {
    width: 360px;
    height: 40px;
    font-size: 24px;
    border: 2px solid rgb(18, 189, 160);
    border-radius: 10px;
}

#result::placeholder,
#X::placeholder,
#O::placeholder {
    font-size: 24px;
    color: rgb(13, 120, 124);
}

.counter {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(18, 189, 160);
    border-radius: 10px;
}

#X,
#O {
    width: 360px;
    height: 40px;
    font-size: 24px;
    color: rgb(18, 189, 160);
}

#display {
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(18, 189, 160);
    border-radius: 10px;
}

#btns {
    display: flex;
    flex-direction: row;
}

#btn,
#btn1 {
    width: 180px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid rgb(18, 189, 160);
    color: rgb(18, 189, 160);
    border-radius: 10px;
    transition: 0.5s;
}

#btn:hover,
#btn1:hover {
    background-color: rgb(13, 120, 124);
}

#parent {
    width: 360px;
    height: 360px;
    background-color: rgb(13, 120, 124);
    border: 2px solid rgb(18, 189, 160);
    border-radius: 20px;
}

.child {
    width: 40px;
    height: 40px;
    background-color: rgb(18, 189, 160);
    border-radius: 20px;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}

.child:hover {
    background-color: rgb(18, 150, 160);
}

#h1 {
    color: rgb(18, 189, 160);
}

footer {
    width: 100%;
    height: 10vh;
    text-align: left;
    background-color: gray;
}

footer>p {
    font-size: 18px;
}

footer>p>i>span {
    text-decoration: underline;
}